<ion-toolbar color="tertiary">
  
  <ion-item>
    <ion-label >
      <p style="font-weight: bold; white-space: initial;">{{ producto.titulo }}</p>
    </ion-label>
    <ion-icon (click)="agregar(producto)"
    color="primary" slot="end" name="add-circle-outline"></ion-icon> 
  </ion-item>
  <ion-item>  
    <ion-label slot="start">
      <ion-slides pager="true" *ngIf="producto.imagen.length > 1">
        <ion-slide *ngFor="let img of producto.imagen" 
                   class="image-slide" 
                    ><ion-img [src]="img"></ion-img>
        </ion-slide>
      </ion-slides>
      
      <ion-slides pager="true" *ngIf="producto.imagen.length === 1" [options]="slideSoloOpts">
        <ion-slide class="image-slide" 
                    ><ion-img [src]="producto.imagen[0]"></ion-img>
        </ion-slide>
      </ion-slides>
      
      <ion-slides pager="true" *ngIf="producto.imagen.length === 0">
        <ion-slide class="image-slide"><ion-img src="./assets/image-placeholder.jpg"></ion-img>
        </ion-slide>
      </ion-slides>
    </ion-label>
    <ion-label style="color: rgb(100, 100, 100); white-space: initial;font-size: 11px;">
      <strong>Codigo: {{ producto.sku }} </strong> <br>
      <strong>Descripción:</strong>  <br>{{ producto.descripcion }}<br>
      <strong> Categoria:</strong><br>{{ producto.categoria }} <br>
      <strong>Banda:</strong> {{ producto.subCategoria }} 
     </ion-label>
  </ion-item>
  </ion-toolbar>