<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start" class="ion-padding">
      <ion-icon slot="icon-only" name="home"></ion-icon>
    </ion-buttons>
    <ion-title>Seleccionar Categoria</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding-top">
  <ion-label>  
    <ion-button style="display: inline-flex;" shape="round" *ngFor="let item of categorias"  button (click)="categoriasProducto(item.titulo)" detail>
     {{ item.titulo }} 
    </ion-button>
</ion-label>

  <ion-label *ngIf="categorias?.length == 0">No hay categorias disponibles</ion-label>
    <ion-button style="display: block; margin-top:1rem;" (click)="recargar($event)" color="secondary">
      <ion-icon slot="icon-only" name="sync"></ion-icon>
       Cargar Categorias
    </ion-button>
    

  <ion-infinite-scroll [disabled]="!habilitado"
  threshold="150px" (ionInfinite)="siguientes($event)">
<ion-infinite-scroll-content>
</ion-infinite-scroll-content>
</ion-infinite-scroll>

</ion-content>
