<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start" class="ion-padding">
      <ion-icon slot="icon-only" name="construct-outline"></ion-icon>
    </ion-buttons>
    <ion-title style="white-space: initial;">
      {{ pageTitle }}
    </ion-title>
  </ion-toolbar>
  <ion-searchbar placeholder="Buscar Producto..."
          inputmode="text" 
          [debounce]="250"
         (ionChange)="onSearchChange($event)"
            animater></ion-searchbar>
</ion-header>

<ion-content [fullscreen]="true" color="light" class="ion-padding"> 

 
  <ion-refresher slot="fixed" (ionRefresh)="recargar($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  
  <app-productos [productos] = "productosCategoria | filtro: textoBuscar: 'titulo' "></app-productos>

  <ion-label *ngIf="productosCategoria?.length == 0">
    <ion-button (click)="recargar($event)">
      <ion-icon slot="icon-only" name="sync"></ion-icon>
       Cargar Productos
    </ion-button><br>
    No hay productos disponibles</ion-label>
  
  <ion-infinite-scroll [disabled]="!habilitado"
                        threshold="150px" (ionInfinite)="siguientes($event)">
    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
</ion-content>
