  <ion-header [translucent]="true" class="ion-no-border"> 
    <ion-toolbar>
      <ion-buttons slot="start" class="ion-padding">
        <ion-icon slot="icon-only" name="bag-add"></ion-icon>
      </ion-buttons>
      <ion-title>
        Cotizar Productos
      </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

  <form (ngSubmit)="cotizar(fCotizar)" #fCotizar="ngForm"> 
    <ion-row>
        <ion-col>
            
            <ion-list>
                
                <ion-item>
                <ion-label>Nombre y apellido:</ion-label>
                <ion-input name="nombre" 
                            type="nombre"
                            [(ngModel)]="cotizacion.nombre"
                            required></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Telefono (+56):</ion-label>
                  <ion-input name="telefono" 
                              type="telefono"
                              [(ngModel)]="cotizacion.telefono"
                              required></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label>Correo:</ion-label>
                    <ion-input name="email" 
                                type="email"
                                [(ngModel)]="cotizacion.email"
                                required></ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-label>Empresa:</ion-label>
                      <ion-input name="empresa" 
                                  type="empresa"
                                  [(ngModel)]="cotizacion.empresa"
                                  required></ion-input>
                      </ion-item>
                      <ion-item>
                        <ion-label>RUT:</ion-label>
                        <ion-input name="rut" 
                                    type="rut"
                                    [(ngModel)]="cotizacion.rut"
                                    required></ion-input>
                        </ion-item>
                        <ion-item>
                        <ion-label>Dirección: </ion-label>
                        <ion-input name="direccion" 
                                      type="direccion"
                                      [(ngModel)]="cotizacion.direccion"
                                      required></ion-input>
                        </ion-item>

              </ion-list>

        </ion-col>
        <ion-col>
          <ion-list>
          <ion-item>
            <ion-label>Sku</ion-label>
            <ion-label>Producto</ion-label>
            <ion-label>Cantidad</ion-label>
          </ion-item> 
          <ion-item *ngFor="let p of [1,1,1,1]" >
            <ion-label>0000000</ion-label>
            <ion-label>Titulo Prueba</ion-label>
            <ion-label >
              
                <ion-button color="medium" fill="clear" (click)="bajarCantidad(p)">
                  <ion-icon slot="icon-only" name="remove-circule"></ion-icon>
                </ion-button>
              
                {{ cantidad }}
              
              
                <ion-button color="medium" fill="clear" (click)="aumentarItemCarrito(p)">
                  <ion-icon slot="icon-only" name="remove-circule"></ion-icon>
                </ion-button>
              

            </ion-label>
            
              <ion-button color="medium" fill="clear" (click)="removerCarritoItem(p)">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-button>
            
          </ion-item> 
        </ion-list>
        </ion-col>
        
    </ion-row>
    <ion-row>
      <ion-col>
          <ion-button type="submit"
                      color="primary"
                      shape="round">
              Enviar Cotización
          </ion-button>
      </ion-col>
  </ion-row>
  </form>
  
</ion-content>
