  <ion-header [translucent]="true" class="ion-no-border"> 
    <ion-toolbar>
      <ion-buttons slot="start" class="ion-padding">
        <ion-icon slot="icon-only" name="bag-add"></ion-icon>
      </ion-buttons>
      <ion-title>
        Cotizar Productos
      </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

  <form (ngSubmit)="cotizar(fCotizar)" #fCotizar="ngForm"> 
    <ion-row>
        <ion-col>
            
            <ion-list>
                
                <ion-item>
                <ion-label>Nombre y apellido:</ion-label>
                <ion-input name="nombre" 
                            type="nombre"
                            [(ngModel)]="cotizacion.nombre"
                            required></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Telefono (+56):</ion-label>
                  <ion-input name="telefono" 
                              type="telefono"
                              [(ngModel)]="cotizacion.telefono"
                              required></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label>Correo:</ion-label>
                    <ion-input name="email" 
                                type="email"
                                [(ngModel)]="cotizacion.email"
                                required></ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-label>Empresa:</ion-label>
                      <ion-input name="empresa" 
                                  type="empresa"
                                  [(ngModel)]="cotizacion.empresa"
                                  required></ion-input>
                      </ion-item>
                      <ion-item>
                        <ion-label>RUT:</ion-label>
                        <ion-input name="rut" 
                                    type="rut"
                                    [(ngModel)]="cotizacion.rut"
                                    required></ion-input>
                        </ion-item>
                        <ion-item>
                        <ion-label>Dirección: </ion-label>
                        <ion-input name="direccion" 
                                      type="direccion"
                                      [(ngModel)]="cotizacion.direccion"
                                      required></ion-input>
                        </ion-item>

              </ion-list>

        </ion-col>
        <ion-col>
          <ion-list>
          <ion-item>
            <ion-label>Sku</ion-label>
            <ion-label>Producto</ion-label>
            <ion-label>Cantidad</ion-label>
          </ion-item> 
          <ion-item *ngFor="let p of carrito; let indice=index" >
            <ion-label>{{p.sku}}</ion-label>
            <ion-label>{{p.titulo}}</ion-label>
            
            <ion-button color="medium" fill="clear" (click)="removerCarritoItem(p, indice)">
              <ion-icon ios="ios-add" md="md-add"></ion-icon>
            </ion-button>
            <ion-button color="medium" fill="clear" (click)="removeItem(p, indice)">
              <ion-icon slot="icon-only" name="remove"></ion-icon>
            </ion-button>{{p.cantidad}}
     
            <ion-button color="medium" fill="clear" (click)="addItem(p, indice)">
              <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
            
              <ion-button color="medium" fill="clear" (click)="removerCarritoItem(p, indice)">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-button>
            
          </ion-item> 
          <ion-label *ngIf="carrito?.length == 0">No se han agregado productos!</ion-label>
        </ion-list>
        </ion-col>
        
    </ion-row>
    <ion-row>
      <ion-col>
          <ion-button type="submit"
                      color="primary"
                      shape="round">
              Enviar Cotización
          </ion-button>
      </ion-col>
  </ion-row>
  </form>
  
</ion-content>
