<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenidos a Accon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides class="mainSlide" #slidesPrincipal>
    
    <ion-slide>

      <form (ngSubmit)="login(fLogin)" #fLogin="ngForm" >
        <ion-grid fixed>

          <ion-row>
            <ion-col>
              <img src="/assets/avatars/av-1.png">
            </ion-col>
          </ion-row>
        
          <ion-row>
            <ion-col>
              
                <ion-list>
                  
                  <ion-item>
                    <ion-input name="email"
                                type="email"
                                placeholder="Correo"
                                pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"
                                [(ngModel)]="loginUser.email"
                                required></ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-input name="password"
                                type="password"
                                placeholder="Clave"
                                [(ngModel)]="loginUser.password"
                                required></ion-input>
                  </ion-item>

                </ion-list>
            </ion-col>
          </ion-row>
<hr>
<div class="form-check">
  <ion-label for="rememberMe"><input type="checkbox" name="rememberMe" class="form-control" id="rememberMe" [(ngModel)]="rememberMe" />
   Recordarme</ion-label>
</div>
        <ion-row>
            <ion-col>
              <ion-button type="submit"
                          color="primary"
                          shape="round">
                Conectarse
              </ion-button>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-label>
              <small style="display: block;"> Para conectarse debera tener un usuario cliente  
                otorgado por la empresa Accon. 
                Para mayor información contacte <a href="mailto:ventas@accon.cl">ventas@accon.cl</a></small></ion-label>
          </ion-row>

        </ion-grid>
      </form>
    


    </ion-slide>



  </ion-slides>



</ion-content>
