<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start" class="ion-padding">
      <ion-icon slot="icon-only" name="person"></ion-icon>
    </ion-buttons>
    <ion-title>
      Actualizar perfil
    </ion-title>
  </ion-toolbar>
  </ion-header>


<ion-content class="ion-padding">

  <form (ngSubmit)="actualizar( fActualizar )" #fActualizar> 
      <ion-row>
        <ion-col>
          
            <ion-list>
              
              <ion-item>
                <ion-input name="email"
                           type="email"
                           placeholder="Correo"
                           pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"
                           [(ngModel)]="usuario.email"
                           required></ion-input>
              </ion-item>

              <ion-item>
                <ion-input name="nombre"
                           type="text"
                           placeholder="Nombre y apellido"
                           [(ngModel)]="usuario.nombre"
                           required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input name="empresa"
                           type="text"
                           placeholder="Nombre Empresa"
                           [(ngModel)]="usuario.empresa"
                           required></ion-input>
              </ion-item>

              <ion-item>
                <ion-input name="password"
                           type="password"
                           placeholder="Clave"
                           [(ngModel)]="usuario.password"
                           required></ion-input>
              </ion-item>
                <ion-input name="rol"
                           type="text"
                           [(ngModel)]="usuario.rol"
                           value="usuario.rol" hidden></ion-input>
             

            </ion-list>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col text-center>
          <ion-button type="submit"
                      color="primary"
                      shape="round">
          Actualizar
        </ion-button>
      </ion-col>
    </ion-row>
    
  </form>
<ion-list *ngIf="mensajes?.length > 0" >
  <ion-list-header color="primary">
    <h4>Notificaciones</h4>
  </ion-list-header>
  <ion-item *ngFor="let push of mensajes">
    <ion-label>
      <h3>{{ push.title }}</h3>
      <p>{{ push.body }}</p>
      <p>{{ push.additionalData | json }}</p>
    </ion-label>    
  </ion-item>
</ion-list>

</ion-content>

